@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../fonts/fonts.css";

@import 'variables';
//@import 'icons';


body {
    //@apply font-body text-brown;
    background: #585858;
}


.pagination {
    margin: 25px auto;
    .page-item {
        line-height: 0.5;
    }
}

.header-nav{
    background: #585858;
}

.sidebar{
}
.thead{
    background: #585858;
    color: white;
}


