@font-face {
    font-family: 'Futura Std';
    src: local('Futura Std Book'), local('FuturaStd-Book'),
        url('d-Book.woff2') format('woff2'),
        url('d-Book.woff') format('woff'),
        url('d-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

